DATABASE_URL=postgresql://postgres:ZuhyEqsSIQaPraXksiUpzQuGDtxKuScl@postgres.railway.internal:5432/railway
DATABASE_PUBLIC_URL=postgresql://postgres:ZuhyEqsSIQaPraXksiUpzQuGDtxKuScl@shortline.proxy.rlwy.net:51999/railway
PGDATABASE=railway
PGHOST=postgres.railway.internal
PGPASSWORD=ZuhyEqsSIQaPraXksiUpzQuGDtxKuScl
PGPORT=5432
PGUSER=postgres
